$primary-color: #ff6b09;
$secondary-color: #436eab;
$active-color: #ff6b09;
$white-text-color: #ffffff;
$primary-background-color: #f5f4fa;
$secondary-background-color: #2196f3;
$link-color: #afb1b8;
