.menu-icon {
  stroke: #000000;
  stroke-width: 5;
  width: 20px;
  height: 12px;
}

.menu-close-icon {
  stroke: #ffffff;
  stroke-width: 4;
  width: 14px;
  height: 14px;
}
/*
.hero-icons {
  fill: #ff6b09;
  height: 102px;
  width: 100px;
}
*/
.stroke {
  stroke: #ff6b09;
  stroke-width: 1;
  fill: none;
}

/*.svg-content {
  fill: #ff6b09;
}*/
/*
.check-mark {
  height: 20px;
  width: 24px;
  fill: #ff6b09;
}
*/
/*.methods-icon {
  fill: #ff6b09;
  height: 48px;
  width: 66px;
}

.fire {
  height: 30px;
  width: 22px;
  fill: #ff6b09;
}

.phone {
  width: 30px;
  height: 30px;
  fill: #ff6b09;
}

.vk {
  width: 30px;
  height: 18px;
  fill: #436eab;
}
*/
